<%= form_with(model: team, local: true) do |form| %>
  <% if team.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(team.errors.count, "error") %> prohibited this team from being saved:</h2>

      <ul>
        <% team.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :first_name %>
    <%= form.text_field :first_name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :last_name %>
    <%= form.text_field :last_name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :bio %>
    <%= form.text_area :bio, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :role %>
    <%= form.text_field :role, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :linkedin_url %>
    <%= form.text_field :linkedin_url, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :twitter_handle %>
    <%= form.text_field :twitter_handle, class: 'form-control' %>
  </div>

  <div class="custom-file mb-4">
    <%= form.label :avatar, class: 'custom-file-label' %>
    <%= form.file_field :avatar, accept: 'image/png,image/gif,image/jpeg', class: 'custom-file-input' %>
  </div>

  <div class="text-center">
    <%= form.submit 'Submit', class: 'btn btn-outline-success btn-md mr-2' %>
    <%= link_to 'Cancel', teams_path, class: 'btn btn-outline-dark btn-md' %>
  </div>
<% end %>
