<%= form_with(model: event, local: true) do |form| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
        <% event.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :category %>
    <%= form.select :category, Event::CATEGORIES, {}, class: 'custom-select' %>
  </div>

  <div class="form-group">
    <%= form.label :venue %>
    <%= form.text_field :venue, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :datetime, "Event Date/Time (In UTC)" %>
    <%= form.text_field :datetime, class: 'form-control datetimepicker' %>
  </div>

  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_area :description, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :slug, "Slug (this can be used for the link to the event)" %>
    <%= form.text_field :slug, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :registration_link %>
    <%= form.text_field :registration_link, class: 'form-control' %>
  </div>

  <div class="custom-file mb-4">
    <%= form.label :theme_banner, class: 'custom-file-label' %>
    <%= form.file_field :theme_banner, accept: 'image/png,image/gif,image/jpeg', class: 'custom-file-input' %>
  </div>

  <div class="form-check">
    <%= form.check_box :is_draft, class: 'form-check-input' %>
    <%= form.label :is_draft, class: 'form-check-label' %>
  </div>

  <div class="text-center">
    <%= form.submit 'Submit', class: 'btn btn-outline-success btn-md mr-2' %>
    <% cancel_path = event.new_record? ? events_path : event %>
    <%= link_to 'Cancel', cancel_path, class: 'btn btn-outline-dark btn-md' %>
  </div>
<% end %>
