<p id="notice"><%= notice %></p>

<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Category</th>
      <th scope="col">Venue</th>
      <th scope="col">Time</th>
      <th scope="col">Slug</th>
      <th scope="col">Status</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= link_to event.title, event %></td>
        <td><%= event.category %></td>
        <td><%= event.venue %></td>
        <td><%= event.datetime %></td>
        <td><%= event.slug %></td>
        <td><%= event.is_draft ? 'Draft' : 'Published' %></td>
        <td><%= link_to 'Edit', edit_event_path(event) %></td>
        <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Event', new_event_path, class: 'btn btn-outline-dark btn-sm' %>
