<p id="notice"><%= notice %></p>

<h2><%= @event.title %></h2>
<p>Category: <%= @event.category %>
<p>Description: <%= @event.description %></p>
<p>Venue: <%= @event.venue %></p>
<p>Time: <%= @event.datetime %></p>
<p>Slug: <%= @event.slug %></p>
<p>Status: <%= @event.is_draft ? 'Draft' : 'Published' %></p>

<%= link_to 'Edit', edit_event_path(@event) %>


<h4>Talks</h4>

<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th scope="col">Topic</th>
      <th scope="col">Youtube url</th>
      <th scope="col">Speaker</th>
      <th scope="col">Speaker Img</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @event.talks.each do |talk| %>
      <tr>
        <td><%= talk.topic %></td>
        <td><%= talk.video_url %></td>
        <td>
          <% if talk.speaker %>
            <%= link_to talk.speaker.name, talk.speaker %>
          <% end %>
        </td>
        <td>
          <% if talk.speaker.avatar.attached? %>
            <%= image_tag talk.speaker.avatar.variant(resize_to_limit: [100, 100]) %>
          <% end %>
        </td>
        <td><%= link_to 'Edit', edit_event_talk_path(@event, talk) %></td>
        <td><%= link_to 'Delete', event_talk_path(@event, talk), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<%= link_to 'Add Talk', new_event_talk_path(@event), class: 'btn btn-outline-dark btn-sm' %>
