<p id="notice"><%= notice %></p>

<h2><%= @event.title %></h2>
<p>Description: <%= @event.description %></p>
<p>Venue: <%= @event.venue %></p>
<p>Time: <%= @event.datetime %></p>

<%= link_to 'Edit', edit_event_path(@event) %>


<h4>Talks</h4>

<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th scope="col">Topic</th>
      <th scope="col">Youtube url</th>
      <th scope="col">Speaker</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @event.talks.each do |talk| %>
      <tr>
        <td><%= talk.topic %></td>
        <td><%= talk.video_url %></td>
        <% if talk.speaker %>
          <td><%= link_to talk.speaker.name, 'talk.speaker' %></td>
        <% else %>
          <td>N/A</td>
        <% end %>
        <td><%= link_to 'Edit', edit_event_talk_path(@event, talk) %></td>
        <td><%= link_to 'Delete', event_talk_path(@event, talk), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<%= link_to 'Add Talk', new_event_talk_path(@event), class: 'btn btn-outline-dark btn-sm' %>
