<%= form_with(model: [@event, partner], local: true) do |form| %>
  <% if partner.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(partner.errors.count, "error") %> prohibited this partner from being saved:</h2>

      <ul>
        <% partner.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div class="custom-file mb-4">
    <%= form.label :logo, class: 'custom-file-label' %>
    <%= form.file_field :logo, accept: 'image/png,image/gif,image/jpeg', class: 'custom-file-input' %>
  </div>

  <div class="text-center">
    <%= form.submit 'Submit', class: 'btn btn-outline-success btn-md mr-2' %>
    <%= link_to 'Cancel', event_partners_path, class: 'btn btn-outline-dark btn-md' %>
  </div>
<% end %>
