<p id="notice"><%= notice %></p>

<%= link_to 'Back to event', @event, class: 'btn btn-outline-dark btn-sm mb-4' %>
<%= link_to 'New Partner', new_event_partner_path, class: 'btn btn-outline-dark btn-sm mb-4' %>

<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Bio</th>
      <th scope="col">Link</th>
      <th scope="col">Logo</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @partners.each do |partner| %>
      <tr>
        <td><%= partner.name %></td>
        <td><%= partner.bio %></td>
        <td><%= partner.link %></td>
        <td>
          <% if partner.logo.attached? %>
            <%= image_tag partner.logo.variant(resize_to_limit: [100, 100]) %>
          <% end %>
        </td>
        <td><%= link_to 'Edit', edit_event_partner_path(@event, partner) %></td>
        <td><%= link_to 'Destroy', [@event, partner], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
