<!DOCTYPE html>
<html>
  <head>
    <title>Tedxyaba</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_importmap_tags %>
  </head>

  <body class="container-fluid">
    <%= render 'layouts/navbar' %>
    <%= yield %>
  </body>
</html>
